body {
  color: rgb(0,0,0);
  background-color: rgb(245,245,245);
  cursor: default;
}

a:link {
  color: rgb(0,0,220);
}

a:hover {
  color: rgb(80,100,255);
}

img {
  float: right;
  top: 1em;
  right: 1em;
  width: 320px;
  height: 240px;
  border: 0;
}
