body {
  font-family: "Trebuchet MS", "Arial";
  font-size: 11pt;
  color: rgb(0,0,0);
  background-color: rgb(250,250,250);
  cursor: default;
}
h1 {
  text-align: center;
}

a {
  text-decoration: none;
}
a:link {
  color: rgb(0,0,200);
}

a:visited {
  color: rgb(80,80,150);
}

a:hover {
  color: rgb(80,100,255);
}

#navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 10.5em;
  margin-top: 5em;
  padding-left: 1em;
}
#navigation ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0; /* IE needs this... */
}
#navigation a {
  color: black;
  display: block;
  width: 10em;
  padding-left: .5em;
  border: 1px solid transparent; /* transparent not working in IE */
}
#navigation li {
}
#navigation a:hover {
  border: 1px solid rgb(10,36,106);
  background-color: rgb(172,189,210);
  /*background-color: rgb(10,36,106);*/
  /*background-color: rgb(194,211,238);*/
}
#navigation a:active {
  color: white;
  border: 1px solid rgb(10,36,106);
  background-color: rgb(74,102,151);
  /*background-color: rgb(194,211,238);*/
}

#content {
  /*margin-top: 5em;*/
  margin-left: 12em;
}

img {
  border: 0;
}
#main-ss {
  float: right;
  top: 1em;
  right: 1em;
  width: 320px;
  height: 240px;
}

td {
  padding: 0 2px 0 2px;
}
#table-title {
  font-size: 110%;
  text-align: center;
}
